.container {
    max-width: 1200px;
}


.desktop-show {
    display: block;
}

@media(max-width:1200px){
    .header_order_button{
        margin-left: 35px;
    }
    .chosen-select{
        background-image: url(images/select.svg);
        background-position: center right 13px;
        padding-left: 13px;
        background-repeat: no-repeat;
        color: #7b7b93;
        padding-left: 13px;
        font-family: 'Segoe UI' !important;
    }

    .header_logged .navbar ul li{
        margin-left:30px ;
    }

    .header_logged .navbar{
        margin-left: 49px;
    }
    .tel_select_cont select,
    .tel_select{
        width: 65px;
        height: 44px;
        background-color: #eeeeee;
        left: 15px;
        top: 26px;
        padding-left: 11px;
        padding-right: 11px;
    }

    .full_select select{
        height: 44px;
        border-radius: 10px;
        background-color: #f8f8f8;
        width: 100%;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: left;
        color: #2c2c51;
    }

    .form_tab .tel_select_cont select, .tel_select ,
    .login_left  .tel_select_cont select{
        width: 65px;
        height: 44px;
        background-color: #eeeeee;
        left: 0px;
        top: 0px;
        padding-left: 11px;
        padding-right: 11px;
        border: solid 1px #cecee2;
    }

    .conutries_tab_icon{
        display: none;
    }

    .countries_box_right{
        width: 100%;
        padding-left: 0;
    }

    .main_banner_section .owl-carousel .owl-nav{
        display: none;
    }
}

@media(max-width:991px){

    .partner_list a{
        margin-right: 20px;
        flex: none;
        box-shadow: 0 12px 20px 0 rgba(44, 44, 81, 0.08);
        
    }

    .gj-picker-md{
        padding: 0;
    }

    .mobile_logged_in .logged_in_user_menu{
        display: none;
    }

    .logged_in_user_menu{
        margin-left: -70px;
        top: 42px;
    }

    .mobile_logged_in:hover .logged_in_user_menu{
        display: block !important;
    }

    .weight_select{
        font-size: 13px;
        background-size: 8px;
    }

    .partner_list{
        padding-left: 0;
        padding-right: 15px;
        position: relative;
        float: left;
    }

    .parnter_section  .container{
        overflow-x: scroll;
        padding: 15px;
        padding-bottom: 30px;
    }

    .header_bottom  .row{
        justify-content: space-between;
    }

    .header_order_side{
        display: flex;
        align-items: center;
    }

    .menu_open{
        display: block;
        margin-left: 15px;
    }

    .mobile_show{
        display: block;
    }

    .calculate_right {
        display: none;
    }

    .how_work_section{
        margin-bottom: 0;
    }

    .tt_left h3{
        display: none;
    }

    .tarif_tab_links{
        display: flex;
    }

    .tarif_tab_list li{
        padding-left: 0;
    }

    .tarif_tab_container,
    .tarif_card_container{
        height: auto;
    }

    .show_all_t{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: transparent;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        position: relative;
        float: left;
        margin-top: 14px;
    }

    .show_all_t p{
        font-size: 16px;
        font-weight: normal;
        width: 100%;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: center;
        color: #7b7b93;
        position: relative;
        float: left;
        margin-bottom: 10px;
    }

    .mobile_show_copyright{
        display: flex;
    }

    .mobile_hide_cop{
        display: none;
    }

    .footer_logo_cont{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
    }
    .footer_social{
        justify-content: center;
        margin-top: 50px;
    }

    .footer_logo{
        width: 166px;
        position: relative;
        float: left;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .footer_contact_cont{
        margin-top: 40px;
    }

    .footer_title{
        margin-bottom: 26px;
    }

   

    .dashboard_mobile_menu .header_logo{
        margin-left: 12px;
    }

    .dashboard_mobile_menu .header_logo img{
        width: 80px;
    }

    .dash_mobile_hide{
        display: none;
    }

    .dashboard_mobile_side{
        display: block;
    }

    .drt_right p{
        font-size: 12px;
    }

    .drt_right span{
        font-size: 18px;
    }

    .drt_icon{
        width: 38px;
        height: 38px;
    }

    .dahsboard_right_top>.row{
        width: 700px;
    }

    .dahsboard_right_top {
        padding-bottom: 10px;
        overflow-x: scroll;
    }

    .dashboard_right_grey_links ul li a{
        height: 28px;
        font-size: 12px;
    }

    .dashboard_right_grey_links{
        display: block;
        overflow-x: scroll;
        padding-bottom: 10px;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 0;
        width: calc(100% - 30px);
    }

    .dashboard_right_grey_links ul{
        display: flex;
    }

    .dashboard_right_grey_links ul li {
        margin-right: 20px;
        position: relative;
        float: left;
        /*width: 115px;*/
    }

    .dashboard_right_container{
        padding: 15px 10px;
    }

    .dashboard_right_grey_links ul li a{
        background-color: transparent;
        padding: 7px 15px;
    }

    .dashboard_right_grey_links ul li{
        margin-right: 8px;
    }

    .dashboard_right_grey_links ul li.active a{
        background-color: #f4f8fb;
    }

    .settings_top{
        padding-bottom: 0;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }

    .e_add_form .form-group{
        margin-bottom: 18px;
    }

    .settings_top:after{
        content: none;
    }

    .adress_info_box{
        margin-bottom: 18px;
    }

    .address_tabs li a img{
        width: 21px;
        height: 16px;
        margin-right: 10px;
    }

    .address_tabs li a{
        width: auto;
        height: 28px;
        border-radius: 17px;
        background-color: transparent;
        border: 0;
        font-size: 12px;
        padding: 0 13px;
    }

    .address_tabs li.active a{
        background-color: #d3eafc;
    }

    .address_tabs{
        height: 40px;
        overflow-x: scroll;
        margin-left: 15px;
        overflow-y: hidden;
        margin-right: 15px;
        width: calc(100% - 30px);
        padding-left: 0;
        margin-bottom: 25px;
    }
    .address_tabs ul{
        
    }

    .contact_right{
        padding-left: 15px;
    }

    .mobile_show_social{
        display: flex;
    }


    .mobile_hide_social{
        display: none;
    }

    .contact_left:after{
        position: relative;
        float: left;
        width: 100%;
        height: 1px;
        background-color: #e1e1fb;
        margin: 30px 0;
        content: '';
        margin-top: 0;
    }
    

    .mobile_show_social .fb i{
        color: #3b5998;
    }
    .mobile_show_social .tw i{
        color: #00acee;
    }

    .mobile_show_social .inst i{
        color: #f12699;
    }

    .mobile_show_social .youtube i{
        color: #c4302b;
    }

    .mobile_show_social a{
        border: 0 !important;
        background-color: #f8f8f8;
    }

    .header_bottom{
        height: 80px;
    }

    .shop_country_links{
        overflow-x: scroll;
    }

    .shop_country_links{
        justify-content: flex-start;
        border-bottom: 0;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }

    .shop_country_links a{
        margin-left: 0;
        margin-right: 10px;
    }

    .shop_country_links a{
        border: solid 1px #e1e1fb;
        border-radius: 8px;
    }

    .shop_country_links a.active{
        border: 1px solid #fd475d;
    }

    .countries_box_top p{
        font-size: 15px;
    }

    .tarif_c6 span{
        font-size: 13px;
        width: 100px;
        height: 30px;
    }

    .inner_countries .tarif_tab_box{
        padding: 20px 15px;
    }

    .tarif_c2 p{
        font-size: 11px;
    }

    .tarif_c2 span{
        font-size: 13px;
    }

    .ct_2{
        padding-left: 15px;
    }

    .ct_3{
        padding-left: 15px;
    }

    .inner_countries .tarif_tab_box{
        height: 150px;
    }

    .inner_countries .tarif_right .row{
        justify-content: space-between;
    }

    .inner_countries .tarif_c6{
        padding: 0 15px;
    }

    .inner_countries .tarif_right{
        padding-left: 30px;
    }

    .inner_countries {
        margin-top: 4px !important;
    }

    .inner_countries .tarif_tab_box{
        margin-bottom: 24px;
    }

    .countries_boxes{
        padding-top: 30px;
        padding-bottom: 6px;
    }

    .inner_countries .tarif_tab_links{
        justify-content: flex-start;
        overflow-x: scroll;
        padding-bottom: 10px;
    }
    .inner_countries .tarif_tab_links li{
        margin-left: 0;
        margin-right: 15px;
    }

    .inner_countries .tarif_tab_links{
        margin-bottom: 25px;
    }

    .inner_countries .tarif_tab_links li a{
        border: solid 1px #e1e1fb;
        border-radius: 8px;
    }

    .inner_countries .tarif_tab_links li.active a{
        border: 1px solid #fd475d;
    }

    .tarif_tab_container{
        padding-bottom: 0;
    }

    .countries_calc_container{
        margin-top: 0;
        margin-bottom: 90px;
    }

    .dashboard_mobile_side .balans_right_top {
        margin-bottom: 30px;
    }

    .mobile_balans_top{
        flex-direction: column;
    }

    .dahsboard_balans_val{
        width: 100%;
        margin-bottom: 24px;
    }

    .dasboard_balans_right{
        width: 100%;padding-left: 0;
    }

    .balans_note p{
        text-align: left;
    }

    .dasboard_balans_right .col-md-4,
    .balans_note{
        padding: 0;
    }

    .balans_note{
        margin-bottom: 15px;
    }

    .balans_tab_links ul li{
        margin-right: 33px;
    }

    .balans_tab_links ul li:last-child{
        margin-right: 0;
    }

    .mbb_box{
        position: relative;
        float: left;
        width: 50%;
    }

    .mbb_box span{
        position: relative;
        float: left;
        width: 100%;
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: left;
        color: #94949f;
        margin-bottom: 6px;
    }

    .mbb_left p{
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #2c2c51;
    }

    .mbb_right p{
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: right;
        color: #00c99c;
    }

    .mbb_right span{
        text-align: right;
    }

    .mbb_text p{
        position: relative;
        float: left;
        width: 100%;
        font-size: 11px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: left;
        color: #94949f;
        margin-top: 16px;
    }
    .bbm_card{
        padding-bottom: 15px;
        border-bottom:1px solid #e1e1fb;
        margin-bottom: 22px;
    }

    .baglamalar_mobile_cards .col-sm-6:first-child  .bbm_card{
        margin-top: 30px;
    }

    .baglamalar_mobile_cards  .col-sm-6:last-child  .bbm_card{
        border-bottom: 0;
    }

    .dashboard_header{
        margin-bottom: 0 !important;
    }

    .mobile_add_order{
        color: #00c99c !important;
        background-color: transparent !important;
        border: 0 !important;
    }

    .mobile_add_order:before{
        background-image: url(images/plus-green.svg) !important;
    }

    .om_add_product{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .kuryer_page_title  {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .om_link,
    .p_last_price{
        width: 100% !important;
    }

    .product_count{
        margin-left: 0;
        width: 100%;
    }

    .order_me_form_group{
        margin-bottom: 18px;
    }

    .product_price{
        width: calc(100% - 125px);
    }

    .mobile_important_hide{
        display: none  !important;
    }

    .delete-declaration{
        position: relative;
        float: left;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .result_p {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        
    }

    .result_price{
        margin-top: 20px;
        padding-bottom: 14px;
    }

    .order_save{
        padding: 0 15px !important;
    }

    .result_p span{
        margin-top: 10px;
    }

    .mobile_inner_title{
        font-size: 14px !important;
        margin-top: 0 !important;
        margin-bottom: 20px !important;
    }

    .refusal {
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: left;
        color: #fd475d;
        display: flex;
        align-items: center;
    }

    .refusal:after {
        position: relative;
        float: right;
        width: 13px;
        height: 13px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(images/imtina.svg);
        content: '';
        margin-top: 4px;
        margin-left: 5px;
    }

    .payed{
        text-align: left !important;
    }

    .order_me_top  .declaration_card{
        padding: 0;
        box-shadow: none;
    }

    .kuryer_top_form_box {
        padding: 0 20px;
    }

    .mobile_declaration_buttons label{
        background-color: transparent !important;
        border: 0 !important;
    }

    .mobile_declaration_buttons label span{
        width: 24px;
        height: 24px;
        border-radius: 100%;
        border: solid 1px #e1e1fb;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right:10px;
    }

    .mobile_declaration_buttons label span i{
        width: 14px;
        height: 14px;
        border-radius: 100%;
        background-color: #15b2ec;
        display: none;
    }

    .declaration_buttons li label img{
        width: 22px;
        height: 16px;
        border-radius: 3px;
        margin-right: 10px;
    }

    .declaration_buttons li label{
        font-size: 12px;
        padding: 0;
        width: 110px;
        height: 24px;
        display: flex;
        align-items: center;
    }

    .mobile_declaration_buttons li.active span i{
        display: block;
    }

    .mobile_declaration_buttons li label p{
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #2c2c51;
    }

    .declaration_card{
        height: auto;
    }

    .declaration_buttons ul{
        overflow-x: scroll;
        padding-bottom: 10px;
    }

    .bcf_box{
        width: 100%;
    }

    .declaration_card{
        box-shadow: none;
        padding:0;
        padding-right: 15px;
        padding-bottom: 30px;
        border-bottom: 1px solid #e1e1fb;
        border-radius: 0;
    }

    .b_add_new_product a{
        width: 100%;
        margin-bottom: 20px;
    }

    .invoys_upload_text{
        margin-top: 25px;
    }

    .bcf_box.weight_select select{
        border-radius: 0 10px 10px 0;
        height: 38px;
        top: 27px;
        right: 8px;
        width: 56px;
        padding-left: 10px;
        background-position: center right 10px;
    }

    .mobile_declaration_buttons li.active button span i{
        display: block;
    }

    .et_elave_et{
        width: 30%;
    }

    .et_more{
        position: absolute;
        right: 15px;
    }

    .et_mobile_title{
        margin-top: 10px !important;
    }

    .add_e_title{
        margin-bottom: 20px;

    }

    .add_e_title h3{
        font-size: 14px;
    }

    .referal_bmc_bottom a{
        width: unset;
    }

    .referal_bmc_bottom a:first-child{
        background-color: transparent;
        border: solid 1px #f5a416;
        padding: 0 15px;
        color: #f5a416;
    }

    .referal_bmc_bottom a.mobile_referal_login{
        background-color: transparent;
        color: #15b2ec;
        border: 0;
    }

    .referal_copy{
        flex-direction: column;
        padding:  0 15px;
        width: 100%;
        margin-bottom: 20px;
    }

    .referal_copy>p{
        width: 100%;
        text-align: left;
        margin-bottom: 8px;
        padding-left: 10px;
    }

    .referal_copy .referal_link{
        width: 100%;
    }

    
    .main_banner_section{
        height: 400px;
    }
    .main_banner_section .item .container .col-md-6{
      
       
    }
    
    .slider_desc_side{
        height: auto !important;
        position: absolute;
        bottom: 30px;
    }

    .slider_desc_side p{
        display: none;
    }
    
    #video_popup{
        width: 98%;
        padding: 20px;
        height: 352px;
    }

    #video_popup h3{
        font-size: 18px;
        width: 80%;
        margin-bottom: 20px;
    }

    #video_popup iframe{
        height: 250px;
    }

    .slider_img_cont{
        justify-content: center;
        position: absolute;
        top: 45px;
        height: 158px !important;
    }

    .main_banner_section .item{
        height: 400px;
    }

    .slider_img{
        max-width: 150px !important;
    }

    .tarif_section .tarif_tab_container {
        padding-bottom: 30px;
    }

    .about_img img{
        width: 100%;
        height: auto;
    }

    .about_container{
        margin-top: 4px;
    }

    .about_img:after{
        display: none;
        content: none;
    }

    .about_img{
        height: auto;
        margin-bottom: 20px;
    }

    .about_desc h3{
        font-size: 18px;
        margin-bottom: 20px;
    }

    .about_desc p, .about_desc li, .about_desc span{
        font-size: 14px;
    }

    .show_fin:after {
        right: 0;
        left: -150px;
    }

    .dasboard_balans_right .form-group{
        width: 100%;
    }

    .product_advanced_pop{
        width: 100%;
        padding: 24px 20px;
    }

    .product_adv_img img{
        height: 100%;
    }

    .product_adv_img{
        height: 240px;
        margin-bottom: 30px;
    }

    .product_advanced_pop .bmc_card>ul{
        padding: 0;
    }

    .product_advanced_pop .col-md-7{
        padding: 0;
    }

    .pro_adv_title{
        width: 80%;
        margin-bottom: 22px;
    }
    .pro_adv_title h2{
        font-size: 18px;
    }

    .product_adv_desc .bmc_right p{
        font-size: 14px;
    }

    .pai_box{
        padding-right: 0;
    }

    .pro_adv_more{
        margin-top: 20px;
    }

    .kuryer_status h5{
        font-size: 21px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .kuryer_status p{
        font-size: 14px;
    }

    .kuryer_status{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .error_page_cont{
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .cancel_popup {
        width: 100%;
        padding: 20px 15px;
        padding-top: 30px;
        height: 150px;
    }
    
    .cancel_pop_btns{
        justify-content: center;
    }

    .cancel_popup h2{
        font-size: 18px;
        margin-bottom: 30px;
    }

    .mobile_order_list{
        display: block;
    }

    .bb_showall{
        font-size: 11px;
    }

    .bb_showall:after{
        background-size: 9px;
        margin-left: 5px;
    }

    .bb_table_links{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .declaration_card{
        background-color: #fff;
        border: 0;
    }

    .shop_mobile_menu{
        display: block;
    }

    .lds-ring,
    .lds-ring div{
        width: 65px;
        height: 65px;
    }
    .loader_center img{
        width: 150px;
        margin-top: 35px;
    }
    .adv_products_mobile{
        display: block;
    }

    .pro_adv_mobile{
        display: flex;
    }

    .pro_adv_desk{
        display: none;
    }

    .adv_table {
        display: none !important;
    }

    .banned_tab ul li:before{
        flex: none;
    }

    .banned_page_countries ul{
        justify-content: flex-start;
        padding-bottom: 15px;
        overflow-x: scroll;
    }

    .banned_page_countries ul li:first-child{
        margin-left: 0;
    }

    .banned_page_countries{
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .banned_container {
        margin-top: 9px;
    }
}

@media(max-width:768px){
    

    .mobile-show {
        display: block;
    }

    .mobile-hide {
        display: none;
    }

    .how_work_mobile{
        display: block;
    }

    .how_work_desktop{
        display: none;
    }

    .slider_overtitle h2{
        margin-bottom: 0;
    }

    .select-text:focus ~ .select-label, .select-text:valid ~ .select-label{
        top: 11px;
        left: 15px;
    }

    .hwt h5{
        font-size: 18px;
    }

    .section_title h2{
        font-size: 21px;
    }

    .section_title{
        margin-top: 40px;
        margin-bottom: 34px;
    }

    .main_banner_section{
        height: 400px;
    }

    .slider_overtitle h2{
        font-size: 21px;
        text-align: center;
    }

    .slider_overtitle {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }



    .slider_overtitle a{
        left: 50%;
        margin-left: -69px;
    }

    .header_logo img{
        width: 86px;
    }

    .header_order_button{
        width: 90px;
        height: 34px;
        font-size: 14px;
    }

    .header_bottom{
        height: 50px;
    }

    .calculate_section .form-group{
        margin-bottom: 20px;
    }

    .calculator_box{
        padding-top: 0 !important;
        height: 350px;
    }

    .calc_btn button{
        width: 100%;
    }

    .calc_btn{
        margin-top: 10px;
    }

    .calculate_result{
        font-size: 24px;
        margin-top: 30px;
    }

    .tarif_section {
        margin-top: 65px;
    }

    .tarif_tab_links li a{
        width: 134px;
    }

    .tarif_tab_links{

    }

    .tarif_tab_links li{
        width: 134px;
        margin-right: 15px;
    }

    .tarif_tab_list li{
        padding: 0;
    }

    .slider_overtitle a{
        margin-top: 40px;
    }

    .tt_left{
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .tarif_section .section_title{
        margin-bottom: 34px;
    }

    .tarif_tab_box{
        height: 122px;
    }

    .tarif_c6 {
        display: flex;
        justify-content: space-between;
    }

    .tarif_right .col-4{
        padding: 0;
    }

    .tarif_c6 {
        padding: 0;
        
    }

    .tarif_right{
        padding-left: 15px;
    }

    .tarif_c6 p{
        font-size: 15px;
    }

    .tarif_c6 span{
        width: unset;
        padding-left: 10px;
        padding-right: 10px;
        font-size:13px;
    }

    .tarif_c2 p{
        font-size: 11px;
        margin-bottom: 6px;
    }

    .tarif_c2 p{
        font-size: 13px;
    }

    .news_left{
        padding-top: 0;
    }

    .news_section{
        padding-top: 40px;
        margin-bottom: 35px;
    }

    .news_left h3{
        font-size: 21px;
        text-align: center;
    }

    .news_left p{
        display: none;
    }

    .news_slider_mobile_show{
        display: block;
    }

    .news_slider_image a, .news_slider_image img{
        width: 100%;
        object-fit: cover;
    }

    .news_slider_container{
        width: 100% !important;
        position: relative;
        float: left;
        margin-bottom: 30px;
    }

    .news_left{
        padding-bottom: 34px;
    }

    .parnter_section{
        margin-bottom: 40px;
    }

    .mobile_show_copyright{
        justify-content: center;
        justify-content: center;
    }

    .copyright svg{
        flex: none;
    }

    .copyright{
        padding-right: 0;
    }

    .footer{
        padding: 20px 0;
        padding-top: 40px;
    }

    .b_save button{
        width: 100%;
    }

    .settings_save{
        padding: 0;
    }

    .page_title p{
        display: none;
    }

    .page_title h2{
        font-size: 21px;
        line-height: 1.33;
    }

    .news_inner_container{
        margin-top: 0;
    }

    .news_inner_img{
        height: auto;
    }

    .news_inner_img img{
        border-radius: 0;
    }

    .news_inner_desc h3{
        margin-top: 16px;
        margin-bottom: 9px;
    }

    .news_inner_desc .news_inner_date{
        margin-bottom: 30px;
    }
    .news_inner_desc{
        margin-bottom: 50px;
    }

    .news_inner_share{
        margin-bottom: 44px;
    }

    .news_inner_share li{
        width: 34px;
        height: 34px;
    }

    .page_header{
        margin-bottom: 28px;
    }

    .contact_container{
        margin-top: 15px;
    }

    .contact_left .side_title{
        margin-bottom: 40px;
    }

    .contact_left ul li{
        margin-bottom: 30px;
    }

    .login_right_img{
        display: none;
    }

    .login_left_side{
        width: 100%;
        margin-left: 0;
    }

    .login_page_title{
        display: none;
    }

    .login_container{
        margin-top: 11px;
        margin-bottom: 70px;
    }

    .login_left h3{
        margin-bottom: 36px;
    }

    .login_left{
        padding: 0 15px;
    }

    .login_popup{
        width: 95%;
    }

    .login_popup{
        padding: 40px 18px;
        height: 380px;
    }

    .login_popup .login_pop_text{
        margin-bottom: 40px;
    }

    .news_page_section{
        margin-top: 3px;
    }

    .news_slider_image{
        height: 180px;
    }
    .news_page_section .news_slider_container{
        margin-bottom: 30px;
    }

    .pagination .page-item a,
    .pagination .page-item.active a{
        width: 22px;
        height: 30px;
    }

    .pagination li{
        margin: 0 3px;
    }

    .pagination li.page-prev{
        margin-right: 10px;
    }

    .pagination li.page-next{
        margin-left: 10px;
    }

    .news_main_section .pagination_container{
        margin-bottom: 75px;
        margin-top: 9px;
    }

    .mobile-hide{
        display: none;
    }

    .mobile-show{
        display: block;
        overflow: initial;
    }

    .reg_main_title{
        display: none;
    }

    .reg_rules.mobile-show {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        text-align: center;
        margin-bottom: 38px;
    }

    .registration_container .login_left h3{
        margin-bottom: 25px;
    }

    #huquqi_form{
        left: 0;
    }

    .registration_container{
        overflow-x: hidden;
    }


    .registration_container .login_left .form-group{
        margin-bottom: 22px;
    }

    .agree_rules label{
        margin-right: 0;
    }

    .registration_container .login_left .form-group .form-control:focus{
        border: solid 1px #7b7b93;
    }

    .reg_left_cont{
        padding: 0;
    }

    .product_category {
        display: none;
    }

    .shop_container{
        margin-top: 4px;
    }

    .brend_images .col-6:nth-child(even){
        padding-left: 6px;
    }

    .brend_images .col-6:nth-child(odd){
        padding-right: 6px;
    }

    .brend_images a{
        margin-bottom: 10px;
    }

    .pagination_container{
        margin-top: 34px;
        margin-bottom: 71px;
    }

    .faq_container{
        margin-top: 0;
    }

    .faq_box{
        padding: 15px 15px;
    }

    .faq_open p{
        margin-left: 10px;
        padding-right: 35px;
        font-size: 14px;
    }

    .faq_number{
        font-size: 14px;
    }

    .faq_number:before{
        font-size: 14px;
    }

    .faq_desc{
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 20px;
    }

    .countries_product_select .full_select{
        width: 100%;
        margin-bottom: 30px;
    }

    .countries_product_select select{
        border: solid 1px #cecee2;
        background-color: #fff;
    }
    
    .not_found_cont>div{
        width: 100%;
    }

    .not_found_cont a{
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .not_found_cont h3{
        font-size: 24px;
        margin-top: 10px;
    }

    .not_found_cont img{
        width: 100%;
        margin-top: 10px;
    }

    .bct_left {
        white-space: nowrap;
    }

    .declaration_card {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .equal-symbol {
        display: none;
    }

    .total-price {
        width: 100%;
    }

    .b_save.settings_save {
        padding: 0 15px;
    }

    .delete-declaration.mobile-show {
        width: initial;
        float: right;
        margin-bottom: 30px;
    }

    .mobile-block {
        display: block !important;
    }

    .emanat_cont .emanat_left {
        float: none;
        width: 100%;
    }

    .emanat_cont .emanat_right {
        float: none;
        width: 100%;
        padding: 0;
    }

    .sub-account-ul {
        width: 100%;
        margin-bottom: 20px;
        justify-content: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
    }

    .sub-account-ul li {
        margin-right: 17px !important;
        width: auto !important;
    }

    .referal_copy {
        padding: 0;
    }

    .settings_top {
        display: block !important;
        margin-bottom: 0;
    }

    .settings_img {
        float: none;
        margin: auto;
    }

    .setting_top_inputs {
        width: 100%;
        float: none;
        padding: 0;
        margin-top: 27px;
    }

    .bmc_more {
        border-radius: 0;
    }

    .table_more {
        height: 20px;
    }

    .dash-block {
        margin-top: 10px;
    }

    .dash-top {
        padding-bottom: 10px;
    }

    .block-title {
        font-size: 19px;
    }

    .radio_buttons .radio_item:last-of-type label {
        margin-right: 0;
    }

    .radio_buttons .radio_item label {
        font-size: 13px;
        padding: 5px 11px;
        margin-right: 10px;
    }

    .radio_buttons .radio_item label img {
        margin-right: 10px;
    }

    .b_another_service_text ul li span {
        white-space: nowrap;
    }

    .parcel-container-main {
        padding-top: 10px !important;
    }

    .parcel-container-main .dash-top {
        display: none !important;
    }

    .parcel-products-popup .tab-navs li {
        margin-right: 8px;
    }

    .parcel-products-popup .tab-navs li a {
        padding: 9px 23px;
    }

    .login_popup {
        padding: 30px 18px;
    }

    .parcel-container.mobile-show table td {
        font-size: 12px;
    }

    .parcel-container .dashboard_right_grey_links {
        overflow: scroll;
    }

    .order-list-main .dashboard_right_container {
        padding-top: 10px !important;
    }

    .order-list-main .block-title {
        display: none;
    }

    .order-list-main .sp-btn-group a.video-tuts-btn {
        float: left;
        margin-top: 9px;
    }

    .order-list-main .sp-btn-group a.ofm-btn {
        float: right;
    }

    .product-link::before {
        margin-right: 5px;
    }

    .bmc_left {
        width: 135px;
    }

    .bmc_right p {
        font-size: 12px;
        font-family: 'Segoe UI', sans-serif;
    }

    .logged_in_user_menu {
        top: 0;
    }

    body.loading::after { 
        background-size: 20% !important;
    }

    .parcel-products-popup .tab-navs {
        overflow: scroll;
        white-space: nowrap;
    }

    .parcel-info-fmobile table td {
        padding-left: 10px;
        font-size: 12px;
    }

    .logged-user .login_popup {
        height: auto !important;
    }

    .dashboard_right_container .order_me_drop {
        display: none;
    }

    .ofm-main-block .dash-top {
        display: none !important;
    }

    .ofm-main-block form {
        padding: 0 10px;
    }

    .sub-account-ul {
        width: auto;
    }

    .kuryer_status img {
        max-width: 50%;
    }

    .order-btm-sp {
        padding: 20px 0 0 0;
    }

    .order-btm-sp::before {
        width: 100% !important;
        left: 0;
    }

    .order-btm-sp .agree_rules {
        margin-bottom: 13px;
    }

    .adress_info_box p {
        height: auto;
        padding: 15px 28px 15px 15px;
    }

    .adress_info_box .copy_text {
        right: 2px;
        padding: 13px;
        background: #fff url(images/copy.svg) no-repeat center;
        opacity: 1;
    }

    .address_tabs li a {
        border-radius: 5px;
    }
    
    .news_inner_desc img,.news_inner_desc iframe {
        width: 100% !important;
        height: auto !important;
    } 
}


@media(max-width:991px) and (min-width:768px){
    .footer_menu li, .footer_contact_list li{
        display: flex;
        justify-content: center;
    }

    .footer_title{
        text-align: center;
    }

    .footer_app_link,
    .mobile_show_copyright{
        justify-content: center;
    }

    .copyright svg{
        flex: none;
    }

    .copyright{
        padding-right: 0;
    }

    
}

@media(max-width:500px){
    .servies_card {
        margin-bottom:50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services_container{
        margin-top: 25px;
        margin-bottom: 70px;
    }

    .service_card_desc{
        width: 100%;
        padding-left: 0;
    }

    .service_card_desc h5{
        text-align: center;
        margin-top: 18px;
    }

    .service_card_desc p{
        padding-right: 0;
        text-align: center;
    }

    .contact_send button{
        width: 100%;
    }

    .contact_send{
        margin-top: 20px;
    }

    .mobile_show_social{
        margin-top: 40px;
    }

    .contact_right{
        margin-bottom: 50px;
    }

    .map_box{
        margin-bottom: 70px;
    }
    
    .et_elave_et {
        width: auto;
        padding: 9px 21px;
        height: auto;
    }
    .etibar-h2{
        visibility: hidden;
    }
}
